@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,700&display=swap');
body {
    font-family: Montserrat,sans-serif;
}
a:active, a:focus {
    outline: 0;
    border: none;
}
header {
    text-align: center;
    background: #5dafbe;
    color: white;
    margin-top: 4%;
}
header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}
header img {
    display: block;
    border-radius: 100%;
    margin: 0 auto 20px;
}
header .intro {
    margin-top: 9%;
}
header .intro .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 2em;
}
header .intro .skills {
    font-size: 1.25em;
    font-weight: 300;
}
section {
    padding: 100px 0;
}
hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}
hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome, serif;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
}
hr.star-primary {
    border-color: #35616a;
}
hr.star-primary:after {
    background-color: white;
    color: #35616a;
}
header .intro .links {
    font-size: 1.25em;
    font-weight: 300;
}
@media (min-width: 768px) {
    header .container {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    header .intro .name {
        font-size: 2em;
    }

    header .intro .skills {
        font-size: 1.75em;
    }
}
.nav-menu li a {
    font-size: 1.10em;
    margin-right: 4%;
}

.navbar-custom {
    background: #35616a;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}
.navbar-custom a:focus {
    outline: none;
}
.navbar-custom .navbar-brand {
    color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: white;
}
.navbar-custom .navbar-nav {
    letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
    color: white;
}
.navbar-custom .navbar-nav li a:hover {
    color: #5dafbe;
    outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
    color: white;
}
.navbar-custom .navbar-nav li.active a {
    color: white;
    background: #5dafbe;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
    color: white;
    background: #5dafbe;
}
.navbar-custom .navbar-toggler {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    border-color: white;
}
.navbar-custom .navbar-toggler:focus {
    background-color: #5dafbe;
    color: white;
    border-color: #5dafbe;
    outline: 0;
    border: none;
}
@media (min-width: 768px) {
    .navbar-custom {
        padding: 15px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom.affix {
        padding: 5px 0;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.1em;
    }
}